.App {
  font-family: sans-serif;
  text-align: center;
 background-color:#F3F4F6;
}

input{
padding:1rem;
width:60%;
}

.habits{
font-size:x-large;
background-color:#D1D5DB
}

.emojis{
font-size:4rem;
padding:5rem 2rem;
cursor: pointer; 
}

.heading{
color:#1F2937;
font-size:3rem;
}

.meaning{
color:#059669;
font-size:2rem;
}



